<center>
    <form class="form-inline jal" action="http://localhost:8080/api/account/balance/2/deposit" method="PUT">
        <div class="well">
            <div class="control-group">
                <label class="control-label">Montant Déposé</label>

                <div class="controls">
                    <input id="amount" type="text" name="amount" placeholder="Montant Déposé"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">AccountCredited</label>

                <div class="controls">
                    <input id="accountCredited" type="text" name="accountCredited" placeholder="accountCredited"/>
                </div>
            </div>


            <hr class="soft"/>
            <div class="controls">
                <button type="submit" class="btn btn-warning">Enregistrer</button>
                <button type="reset" class="btn btn-primary">Annuler</button>
            </div>
        </div>

    </form>
</center>