
.transfer{
    width: 14%;
}
.test{

}

.tab {
    width: 550px;
}
   body{
        padding-top:30px;
        padding-bottom : 40px;
        padding-left:15px;
        }
        body a {
        color:#FF0000;
        }
        body a:hover{
        color:#AFAFAF;
        }
        .sidebar-nav {
        padding: 9px 0;
        }
        #tab_account{
        width:50%;

        }
        .row-fluid{
        padding-top:50px;
        }


   .row-centered {
       text-align:center;
   }
   .col-centered {
       display:inline-block;/*aligner les div sur une ligne*/
       /* reset the text-align */
       text-align:center;
       /* inline-block space fix */
       margin-right:4px;
       margin-left:4px;
   }


   .col-fixed {
       /* custom wid   th */
       width: 320px;
   }
   .col-min {
       /* custom min width */
       min-width:320px;
   }
   .col-max {
       /* custom max width */
       max-width: 320px;
   }
   .block{
       height:200px;
   }

   #page{
       margin-top: 50px;
   }

   body {
       padding-left: 100px;
       padding-top: 100px;
   }

   ul.tabs li {
       float: left;
       width: 57px;
       height: 45px;
       margin: 0px 1px 0px 0px;
       list-style-type: none;
   }

   .table {
       border: medium solid #CFD0CF;
       border-collapse: collapse;

   }

   .jal {
       background-color: white;
       width: 400px;
       padding: 10px 5px 5px 20px;
   }

   .indexBoxSize {
       height: 250px;
   }


  /****************************************** 24.06.2015 : Style accordeon CSS3*/

        .ac-container{
            width: 400px;
            margin: 10px auto 30px auto;
            text-align: left;
        }
.ac-container label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow:
    0px 0px 0px 1px rgba(155,155,155,0.3),
    1px 0px 0px 0px rgba(255,255,255,0.9) inset,
    0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
    background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow:
    0px 0px 0px 1px rgba(155,155,155,0.3),
    0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;
}
.ac-container input:checked + label:hover:after{
    background-image: url(../images/arrow_up.png);
}
.ac-container input{
    display: none;
}
.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
    height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
    height: 180px;
}
.ac-container input:checked ~ article.ac-large{
    height: 230px;
}
/********************************************************************/