<div ng-controller="AccountListController">
    <h2> Liste des Comptes</h2>

    <ul>
        <li ng-repeat="Liste des comptes ">
            <a href="#/account/{{account.id}}"><span class="accountLibelle">{{account.libelle}}</span></a>:
            <span class="accountBalance">{{account.balance | filter:ellipsis:20}}</span>&nbsp;
            <button class="button" ng-click="deleteAccount(account)">X</button>
        </li>
    </ul>
    <hr/>
    <button ng-click="gotoAccountNewPage()" class="button">Ajouter</button>
</div>