<script src="js/jquery-2.1.4.js"></script>
<script src="js/jquery-ui.js"></script>
<div ng-controller="AccountCtrl">
    <!-- Cette div s'affiche si il n'y a aucun compte-->

    <div ng-if='user.accounts.length <=0' class="alert alert-info" role="alert">
        Il n'y a aucun compte à afficher
    </div>

    <!--------------------------------------------------->

    <!-- Cette div s'affiche si il y a plus d'un compte-->

    <div ng-if='user.accounts.length >0' class=" row well col-xs-5 form-horizontal" aria-selected="false">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-left">
                    <h3> Synthèse des comptes </h3>
                </div>
            </div>
        </nav>

        <h4><b> Mes comptes Information au 25/04/2015 </b></h4>

            <div class="accordion" ng-repeat="account in user.accounts "  ng-click="getOperations(account.id)" id= "div{{account.id}}" >
                <h3>
                    <p>Compte <b>{{account.libelle}}</b> no : <b>{{account.id}}</b></p>
                    <p>Solde : <b>{{account.balance}} €</b></p>
                </h3>
                <div>
                    <label><u>Liste des opérations :</u></label>
                    <p ng-repeat="operation in operations">
                        {{operation.transactionDate | date}} | {{operation.idTransaction}} | {{operation.transactionType}}
                    </p>
                    <p ng-if="operations.length <=0"> Aucune operation</p>
                    </br>
                    </br>
                </div>
                </br>
                </br>

            </div>


    </div>

</div>

<!-------------------------------------------------->
</div>


<script>
    $(function() {
        $( ".accordion" ).accordion({
            collapsible: true,
            active: false
        });
    });
</script>
