<div class="container-fluid" ng-controller="UserCtrl">
    <div class="row row-centered">

        <div class="col-lg-5 col-centered well block indexBoxSize">
            <b>Bonjour, {{user.civilities}} {{user.lastname}} {{user.firstName}}</br> Votre id utilisateur est le
                :{{user.idCustomer}}</b>
        </div>

        <!-- Etat du compte courant -->
        <div class="col-lg-3 col-centered  well block indexBoxSize">
            <b>
                <ins><p class="text-left">Etat du Compte Courant</p></ins>
            </b>

            <div class="text-left" ng-repeat="test in user.accounts" ng-if="test.type == 'CURRENT'">
                </br><b>Compte No : </b> {{test.id}}
                <b> {{test.libelle}}</b>

                <p ng-if="test.balance <0" class="text-error"> </br>Balance : {{ test.balance}} euros</p>

                <p ng-if="test.balance >0">

                <h3 class="text-success glyphicon glyphicon-plus"> {{ test.balance}}euros</h3></p>

                </br>

            </div>
        </div>

        <!---------------------->

        <!-- Etat du compte PEL -->

        <div class="col-lg-3 col-centered  well block indexBoxSize ">

            <b>
                <ins><p class="text-left">Etat du Compte PEL</p></ins>
            </b>

            <div class="text-left" ng-repeat="test in user.accounts" ng-if="test.type == 'SAVINGS'">
                </br><b>Compte No : </b> {{test.id}}
                <b> {{test.libelle}}</b>

                <p ng-if="test.balance <0" class="text-error"> </br>Balance : {{ test.balance}} euros</p>

                <p ng-if="test.balance >0">

                <h3 class="text-success glyphicon glyphicon-plus"> {{ test.balance}}euros</h3></p>
                </br>

            </div>
        </div>

        <!------------------------------------->

        <div class="col-lg-5 col-centered well block indexBoxSize ">
            <ul class="nav">
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <p data-toggle="dropdown" class="dropdown-toggle">
                        <b> Liste des activités ( actions possibles) </b>
                        <b class="caret"></b>
                    </p>

                    <div class="list-group">
                        <a id="seeAccounts" class="list-group-item" ng-click="SeeUserAccount(2)">Visualiser mes
                            comptes</a>
                        <a href="/#/account/transfer" id="transfer" class="list-group-item" onclick="" value="transfer"
                           ng-click="transfer()">Réaliser un
                            virement</a>

                        <a href="/#/account/deposit" id="deposit" class="list-group-item" onclick="" value="deposit">Réaliser
                            un dépot</a>
                        <a href="/#/account/withdraw" id="withdraw" class="list-group-item" onclick="" value="withdraw">Réaliser
                            un retrait</a>

                    </div>
                </li>
            </ul>
        </div>


        <!-- Bloc Historique opération Compte courant -->

        <div ng-controller="AccountCtrl">
            <button ng-click="getOperations(1)">
                tesss
            </button>
            <div>

                <div class="col-xs-3 col-centered well block indexBoxSize">
                    <b>
                        <ins><p class="text-left">Histo Courant</p></ins>
                    </b>

                    <p ng-repeat="operation in operations  | filter:operation.account.type.active ='CURRENT'">
                        {{operation.idTransaction}}|
                        {{operation.transactionType}}|
                        {{operation.amount}} euros|
                        {{operation.transactionDate | date}}
                        ----------------------------------
                    </p>
                </div>

                </hr>

            </div>

        </div>

        <!--------------------------------------------------->

        <!-- Bloc Historique opération Compte epargne-->

        <div ng-controller="AccountCtrl">
            <button ng-click="getOperations(1)">
                tesss
            </button>
            <div>

                <div class="col-xs-3 col-centered well block indexBoxSize">
                    <b>
                        <ins><p class="text-left">Histo PEL</p></ins>
                    </b>

                    <p ng-repeat="operation in operations | limitTo:4"
                       ng-if="operation.account.type='SAVING'">
                        {{operation.idTransaction}}|
                        {{operation.transactionType}}|
                        {{operation.amount}} euros|
                        {{operation.transactionDate|date}}
                        ----------------------------------

                    </p>
                </div>


            </div>

        </div>

        <!--------------------------------------------------->
    </div>
</div>